node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
build
dist
.idea
.vscode
*.swp
*.swo
.next
.cache
.eslintcache
coverage
README.md
.prettierrc
.eslintrc
.gitkeep
